<main>
  <form class="signup-form" action="/signup" method="POST">
    <div class="form-control">
      <label for="username">Username</label>
      <input id="username" name="username" type="text">
    </div>
    <div class="form-control">
      <label for="email">Email</label>
      <input id="email" name="email" type="email">
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input id="password" name="password" type="password">
    </div>
    <div class="form-control">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" name="confirmPassword" type="password">
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Sign Up</button>
  </form>
</main>