<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{csrfToken}}">
    <title>{{ title }}</title>
    {{#if signup }}
      <script type="text/javascript" src="/js/signup.js" defer></script>
    {{/if}}
    {{#if login }}
      <script type="text/javascript" src="/js/login.js" defer></script>
    {{/if}}
    {{#if dash }}
      <link rel="stylesheet" href="/css/dash.css">
      <script type="text/javascript" src="/js/dash.js" defer></script>
    {{/if}}
    {{#if learn }}
      <script type="text/javascript">`let cards = {{{deck}}}`</script>
      <script type="text/javascript" src="/js/learn.js" defer></script>
      <link rel="stylesheet" href="/css/learn.css">
    {{/if}}
    <link rel="stylesheet" href="/css/main.css">
    {{#if withTemplates}}
      {{#each templates}}
        {{> (temp this) decks=../decks noDecks=../noDecks}}
      {{/each}}
    {{/if}}
  </head>