<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/login">Log in</a>
      </li>
      <li class="main-header__item">
        <a href="/signup">Sign up</a>
      </li>
    </ul>
  </nav>

  <nav class="mobile-nav">

  </nav>
</header>