<main>
  <div class='learn__banners'>
    <div class='learn__main-banner'>
      <h2>{{deck.title}}</h2>
    </div>
    <div class='learn__sub-banner'>
      <p>0 0 0</p>
    </div>
  </div>
  <div class='learn__card'>
    <div class='learn__card-info'>
      <div class='learn__front-side'>
        <h4>

        </h4>
      </div>
      <div class='learn__back-side covered'>
        <hr />
        <div class='meaning'><h4></h4></div>
        <div class='pinyin'><h4></h4></div>
      </div>
    </div>
    <div class='learn__card-controls'>
      <div class='learn__card-controls--front'>
        <button type='button'>SHOW ANSWER</button>
      </div>
      <div class='learn__card-controls--back hidden'>
        <button type='button'>NOPE</button>
        <button type='button'>OK!</button>
      </div>
    </div>
  </div>
</main>