<template id="custom-deck-template">
    <div class='modal'>
      <form class='custom-deck-form'>
        <div class='form-control'>
          <label for='title'>Deck Title</label>
          <input type='text' name='title' />
        </div>
        <button type='button'>Cancel</button>
        <button type='submit'>Create Deck</button>
      </form>
    </div>
  </template>