<template id="deck-info-template">
  <li class='decks__item'>
      <button class='collapsible'>
        
      </button>
      <div class='collapsible-content hidden'>
        <p>Description: </p>
        <p>Total cards: 0</p>
        <p>Learning since: </p>
      </div>
    </li>
</template>