<template id='delete-deck-template'>
  <div class='modal'>
    <div class="modal__info">
      <h3>Are you sure?</h3>
      <p>If you delete this deck, you will lose all of the progress you have
        made. Additionally, if you are this deck's creator and the deck is
        public, the deck will be deleted for all other users as well.</p>
    </div>
    <div class="modal__actions">
      <button class="modal__action--cancel" type='button'>Cancel</button>
      <button class="modal__action--confirm" type='button'>Delete</button>
    </div>
  </div>
</template>