<main>
  <h1>Hanzi Helper Dashboard</h1>
  <div class='dash__decks'>
    {{#if noDecks}}
      <h3>You don't have any desks! Add an existing deck or create one of your
        own!</h3>
    {{else}}
      <ul class='decks__list'>
        {{#each decks}}
          <li class='decks__item'>
            <button class='decks__item-main'>
              <h3>{{this.title}}</h3>
              <p>To revise: 0</p>
              <p>To refresh: 0</p>
              <p>To learn: 0</p>
            </button>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <ul class='dash__action-list'>
    <li class='dash__action-item'>
      <button type='button'>ADD</button>
    </li>
    <li class='dash__action-item hidden'>
      <button type='button'>Add deck</button>
    </li>
    <li class='dash__action-item hidden'>
      <button type='button'>Create custom deck</button>
    </li>
    <li class='dash__action-item hidden'>
      <button type='button'>Add card</button>
    </li>
  </ul>

  {{!-- <template id="custom-deck-template">
    <div class='modal'>
      <form class='custom-deck-form'>
        <div class='form-control'>
          <label for='title'>Deck Title</label>
          <input type='text' name='title' />
        </div>
        <button type='button'>Cancel</button>
        <button type='submit'>Create Deck</button>
      </form>
    </div>
  </template> --}}
  
</main>